<div class="flex justify-center space-x-10 mb-4">
    <app-titre1
      [customText]="'Name of the country'"
    ></app-titre1>
    </div>
    
    <div class="flex justify-center space-x-10 mb-8">
    <app-titre2
      [darkGrayText]="'Number of entries'"
      [blackText]="'Personnalisé en noir'"
    ></app-titre2>
    <app-titre2
      [darkGrayText]="'Total number medals'"
      [blackText]="'Personnalisé en noir'"
    ></app-titre2>
    <app-titre2
    [darkGrayText]="'Total number of athletes'"
    [blackText]="'Personnalisé en noir'"
  ></app-titre2>
    </div>

    <div class="flex justify-center">

    <div style="display: block;">
        <canvas baseChart width="400" height="400"
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend">
        </canvas>
    </div>
     