<div *ngIf="countryDetails" >

<div class="flex justify-center space-x-10 mb-8">
    <app-titre1
      [customText]="countryDetails.country"
    ></app-titre1>
    </div>
    
    <div class="flex justify-center space-x-10 mb-8">
    <app-titre2
      [darkGrayText]="'Number of entries'"
      [blackText]="countryDetails.totalParticipations"
    ></app-titre2>
    <app-titre2
      [darkGrayText]="'Total number medals'"
      [blackText]="countryDetails.totalMedals"
    ></app-titre2>
    <app-titre2
    [darkGrayText]="'Total number of athletes'"
    [blackText]="countryDetails.totalAthletes"
  ></app-titre2>
    </div>




    <div class="flex justify-center mb-8">

    <div style="display: block;">
        <canvas baseChart width="400" height="400"
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend">
        </canvas>
    </div>
    </div>
    </div>
    
<div *ngIf="errorMessage" class="flex justify-center items-center ">{{ errorMessage }}</div>
