
<div class="flex justify-center space-x-10 mb-8">
<app-titre1
  [customText]="'Medals Per Country'"
></app-titre1>
</div>

<div class="flex justify-center space-x-10 mb-8">
<app-titre2
  [darkGrayText]="'Number of JOs'"
  [blackText]="totalOlympics.toString()"
></app-titre2>
<app-titre2
  [darkGrayText]="'Number of countries'"
  [blackText]="totalCountries.toString()"
></app-titre2>
</div>

<div class="flex justify-center">
  <canvas baseChart
  [type]="'pie'"
  [datasets]="pieChartDatasets"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [legend]="pieChartLegend">

  (chartClick)="onChartClick($event)">

</canvas>

</div>


